
@font-face{
    font-family: "campton";
    /*Je n'ai trouvé que Bold ou Light*/
    src: url("./font/Campton-BoldDEMO.otf");
}

body{
    background-color: #f2f5f7;
    margin: 0;
    /*Je l'ai retirée car les caractères spéciaux ne s'affichent pas correctement*/
    /* font-family: "campton" ;*/
}

#page{
    width: 100%;
    height: 100vh;
}

#container{
    background-color: white;
    width: 300px;
    padding: 25px;
    margin: 0 auto;
    position : relative;
}

label{
    font-size: 12px;
    color: #94bbdc;
    display: block;
}

input{
    font-size: 16px;
    border-color: #94bbdc;
    border: none;
    border-bottom: thin solid #94badc3f;
    outline: none;
    width: 100%;
    margin-bottom: 5px;
}

#liste{
    padding: 15px;
    max-height: 130px;
    background-color: white;
    /*correspond à overflow scroll*/
    overflow-y:auto;
    /*Le menu va apparraitre au dessus de la div container*/
    position: absolute;
    right: 25px;
    left: 25px;
    box-shadow: 2px 2px 12px 0px #94badc4f;
    z-index: 1;
}

img{
    display: inline-block;
}